---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"sim_api/'
    Priority: 1
  - Regex: '^"sim/'
    Priority: 2
  - Regex: '^<[a-z_]+>$'
    Priority: 4
  - Regex: '^<.*>$'
    Priority: 3
  - Regex: '.*'
    Priority: 5
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseInsensitive
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2